extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-slider
		.container
			.row
				.col
					h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident cumque officiis dolores vero minima
					p.mb-0
						a.btn.btn-large.btn-more(href="#") View more
	section.home-services
		.container
			.row
				.col
					.title-page.title-services
						h2 Services we provide
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
			.row.mt-5
				- for(x=1;x<5;x++)
					.col-sm-6.col-md-3.mb-5
						figure
							img(src="./img/home_icon_"+x+".png", alt="", srcset="")
						h3 Lorem ipsum dolor
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo ea
	
